*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: rgb(49, 8, 8);
}
.navbar{
   height: 70px;
    background-color:rgba(51, 32, 32, 0.892);
    color: white;
    text-align:left;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: size 2px;
      
}

p{
    font-size: 30px; 
}
.container li{
    width: 200px;
    height:200px;
    background-color: rgb(241, 170, 170);
    margin: 100px;
    overflow: hidden;
    justify-content: space-evenly;
}
